
.sticky-header th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f8f9fa; /* table-light color */
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

// .card:hover {
//   transform: translateY(-2px);
//   box-shadow: 0 .5rem 1rem rgba(0,0,0,.08) !important;
// }

.input-group-text {
  color: var(--text-muted);
}
