.full-width {
  width: 100%;
  margin-bottom: 16px;

  &:first-child {
    margin-top: 16px;
  }
}

::ng-deep .mat-mdc-dialog-title {
  text-align: center !important;
}

::ng-deep .mat-mdc-form-field-label {
  overflow: visible !important;
  white-space: nowrap !important;
}

::ng-deep .mdc-floating-label {
  max-width: none !important;
}